[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
pyyaml = "*"
numpy = "*"
pyaudio = "*"
sounddevice = "*"

[dev-packages]

[requires]
python_version = "3.12"
